{% extends "layout.html" %}
{% block body %}

<!--Main Content -->
<link href="{{ url_for('static', filename= 'css/table.css') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="minerPage" >  
  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#req_handover tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
<h1>Handover Blood Request</h1>

  <h4>All the bloodbank request handover </h4> 
<br>
<div class="stocks">
  <input id="myInput" type="text" placeholder="Search.." style="margin-left: 40px;width: 50%;height:auto ;padding: 10px;border-radius: 4px;border: 1px solid #ccc">
  <br> <br>  
<table class="table">
    <thead class="tabel-head">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone number</th>
      <th scorp="col">Email</th>
      <th scope="col">Blood Group</th>
      <th scorp="col">District</th>
      <th scope="col">Quantity</th>
      <th scope="col">Date</th>
     
    </thead>
     <tbody id="req_handover">
      
      <tr>
        {% for row in blooreqhandin %}
        <th scope="row">{{row.id}}</th>
        
        <td class="text-truncate" style="max-width: 100px;">
          <a>{{row.name}}</a>
        </td>
        <td class="text-truncate" style="max-width: 100px;">
            <a>{{row.phone}}</a>
        </td>
        <td class="text-truncate" style="max-width: 100px;">
          <a>{{row.email}}</a>
      </td>
      <td class="text-truncate" style="max-width: 100px;">
        <a>{{row.bloodgroup}}</a>
    </td>
     <td class="text-truncate" style="max-width: 100px;">
      <a>{{row.district}}</a>
   </td>
   <td class="text-truncate" style="max-width: 100px;">
    <a>{{row.bloodunit}}</a>
   </td>
   <td class="text-truncate" style="max-width: 100px;">
    <a>{{row.date}}</a>
   </td>
   

      </tr>
      {%endfor%}
    </tbody>
  </table>
  </div>
  

</div>

<!--End Main Content-->
{% endblock %}
