{% extends "layout.html" %}
{% block body %}

<!--Main Content -->

<link href="{{ url_for('static', filename= 'css/admin_homechart.css') }}" rel="stylesheet">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!--Pie -->
<!--Bar graph-->
<link href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename= 'css/jumbotron-narrow.css') }}" rel="stylesheet">

<script src="../static/js/jquery-1.11.2.js"></script>
<script src="../static/js/Chart.min.js"></script>


<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Blood Handover', {{bloodhandover}}],
      ['Blood Request', {{bloddapproved}}]
    ]);

    var options = {
      title: 'My Daily Activities',
      is3D: true,
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
    chart.draw(data, options);
  }
</script>

<div class="minerPage" >  

<h1>Admin</h1>

  <h4>Blood Stocks</h4> 
  <div class="stocks">  
    <table class="table">
        <thead class="tabel-head">
              <th scope="col">Blood Group</th>
              <th scope="col">Quantity</th>
        </thead>
         <tbody>
          
          <tr>
            {% for row in bloodstocks %}
            <th class="text-truncate" style="max-width: 50px;">
              <a>{{row.bloodgroup}}</a>
            </td>
            <td class="text-truncate" style="max-width: 50px;">
                <a>{{row.bloodquanity}}</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      </div>

  <div class="stocks" style="width:500px;">  
    <canvas id="chart" width="500" height="400"></canvas> 
  </div>

  <div class="stocks">  
    <div id="piechart_3d" style="width: 700px; height: 400px;" ></div>
      </div>
</div>
<script>
 
  // bar chart data
  var chartData = {
  labels : [{% for item in bloodstocks %}
                 "{{item.bloodgroup}}",
             {% endfor %}],
  datasets : [
     {
           label: 'Blood Units',
           fillColor: "rgba(220,20,60,0.2) ",
           strokeColor: "rgba(220,20,60,1)",
           pointColor: "rgba(220,20,60,1)",
           pointStrokeColor: "#fff",
           pointHighlightFill: "#fff",
           pointHighlightStroke: "rgba(220,20,60,1)",
           bezierCurve : false,
           data : [{% for item in bloodstocks %}
                     {{item.bloodquanity}},
                   {% endfor %}]
     }]
  }

   Chart.defaults.global.animationSteps = 80;
   Chart.defaults.global.tooltipYPadding = 16;
   Chart.defaults.global.tooltipCornerRadius = 0;
   Chart.defaults.global.tooltipTitleFontStyle = "normal";
   Chart.defaults.global.tooltipFillColor = "rgb(198, 0, 0)";
   Chart.defaults.global.animationEasing = "easeOutBounce";
   Chart.defaults.global.responsive = false;
   Chart.defaults.global.scaleLineColor = "black";
   Chart.defaults.global.scaleFontSize = 16;

  // get bar chart canvas
  var ctx = document.getElementById("chart").getContext("2d");

  steps = 10
  max = 2000
  
  var BarChartDemo = new Chart(ctx).Bar(chartData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true,
       bezierCurve: false,

  });
  
</script>

<!--End Main Content-->
{% endblock %}
